<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJDETK5NmCqSpBCjmde_hv9VS1lQeuRr4</string>
	<key>GCM_SENDER_ID</key>
	<string>298673540532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tha.lifehanja</string>
	<key>PROJECT_ID</key>
	<string>lifehanja</string>
	<key>STORAGE_BUCKET</key>
	<string>lifehanja.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298673540532:ios:43b75f317fcc2fc5aeb6e1</string>
</dict>
</plist>